    <div class="fields">
        <p>
            <%= f.label :id, "Line Item" %>
            <%= link_to_remove_fields "remove", f %>
            <%= f.text_area :id, :rows => 2 %>
        </p>
    </div>